name: Build and Test React Application

on:
  push:
    branches: [master]

jobs:
  build_test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [20.x, 21.x]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'pnpm'

      - name: Enable Corepack
        run: corepack enable

      - name: Setup pnpm
        run: corepack prepare pnpm@latest --activate

      - name: Install, Build and Test
        run: |
          cd app
          pnpm install --frozen-lockfile
          pnpm run build --if-present
          pnpm test